body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #3f3f3f;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  background-color: #fff;
}

header {
  background-color: #e9e9e9;
  padding: 40px 25px;
}

.cols {
  padding: 25px 10px 5px 10px;
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}

.col1,
.col2,
.col3 {
  width: 100%;
  margin-right: 2%;
}

.main-content {
  width: 100%;
  margin-right: 5%;
}

.sidebar {
  width: 100%;
}

.blue-box {
  background-color: #9bdaef;
  padding: 20px;
  font-size: 13px;
  margin: 0 0 15px 0;
  display: none;
}

.yellow-box {
  background-color: #efdb7f;
  padding: 20px;
  font-size: 13px;
  margin: 0 0 15px 0;
}

